@import 'compass/css3';

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    font-family: 'Noto Sans TC', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 1140px;
    padding: 15px 0;
}

.object-total {
    display: inline-block;
    padding: 7px 15px;
    font-size: 1.5em;
}

.filter {
    display: inline-block;
    background-color: #3F51B5;
    padding: 7px 15px;
    border: 2px solid #283684;
    border-radius: 2px;
    color: #9E9E9E;
    font-size: 1.5em;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 10px;
    }
    &:hover {
        color: gold;
    }
}

.house_list {
    padding-top: 10px;
    padding-bottom: 10px;

    .house {
        position: relative;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        font: {
            size: 1.2em;
        }

        &:hover {
            background-color: #ffd9a1;
        }

        &.done {
            background-color: #c6fcc9;
        }

        a, a:hover {
            color: inherit;
        }

        .done, .sclose {
            position: absolute;
            top: 0;
            right: 0px;
            padding: 10px;
            font-size: 1.5em;
            cursor: pointer;
            z-index: 99;

            &:hover {
                color: red;
            }
        }

        .done {
            right: 45px;
        }

        .info:not(:last-child) {
            margin-bottom: 10px;
        }

        .label {
            color: #3F51B5;
            font: {
                size: 1.2em;
            }
        }

        .sub-title {
            font: {
                size: 1em;
            }
            > div {
                display: inline-block;
            }
        }

        .price {
            color: red;
        }

        .unitprice {
            color: green;
        }
        
        .sp {
            font: {
                weight: 600;
            }
        }
    }
}